In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
from pandas import datetime

def parser(x):
    d = datetime.strptime(x, '%b %d, %Y')
    return d

# data = pd.read_csv("Electric_Production.csv",index_col=0)
data = pd.read_csv("SP500.csv", index_col=0, usecols=["Date", "Price"], parse_dates=[0], date_parser=parser)
data['Price'] = data['Price'].str.replace(',','').astype(float)
data = data.reindex(index=data.index[::-1])

# data_2 = pd.read_csv("CNY_JPY.csv", index_col=0, usecols=["Date", "Price"], parse_dates=[0], date_parser=parser)
# data_2 = data_2.reindex(index=data_2.index[::-1])

print(data.head())
# print(data_2.head())

ValueError: time data 'Oct 19' does not match format '%b %d, %Y'

In [7]:
data.index

DatetimeIndex(['2019-10-25', '2019-10-24', '2019-10-23', '2019-10-22',
               '2019-10-21', '2019-10-18', '2019-10-17', '2019-10-16',
               '2019-10-15', '2019-10-14',
               ...
               '2018-11-08', '2018-11-07', '2018-11-06', '2018-11-05',
               '2018-11-02', '2018-11-01', '2018-10-31', '2018-10-30',
               '2018-10-29', '2018-10-26'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [8]:
data.index = pd.to_datetime(data.index)
# data_2.index = pd.to_datetime(data_2.index)

In [9]:
data.head()

                  Price
Date
2019-10-25  3027.389893
2019-10-24  3016.070068
2019-10-23  3004.780029
2019-10-22  3014.570068
2019-10-21  3007.330078

In [10]:
data.index

DatetimeIndex(['2019-10-25', '2019-10-24', '2019-10-23', '2019-10-22',
               '2019-10-21', '2019-10-18', '2019-10-17', '2019-10-16',
               '2019-10-15', '2019-10-14',
               ...
               '2018-11-08', '2018-11-07', '2018-11-06', '2018-11-05',
               '2018-11-02', '2018-11-01', '2018-10-31', '2018-10-30',
               '2018-10-29', '2018-10-26'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [11]:
data[pd.isnull(data['Price'])]

Empty DataFrame
Columns: [Price]
Index: []

In [12]:
data.head()

                  Price
Date
2019-10-25  3027.389893
2019-10-24  3016.070068
2019-10-23  3004.780029
2019-10-22  3014.570068
2019-10-21  3007.330078

In [13]:
import chart_studio
chart_studio.tools.set_credentials_file(username='aishlia', api_key='9m80xSKucsJrkBQMipcb')

In [15]:
from chart_studio.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative', freq = 7)
fig = result.plot()
plot_mpl(fig)

/Users/jnai/anaconda3/lib/python3.7/site-packages/plotly/matplotlylib/mpltools.py:368: MatplotlibDeprecationWarning:


The is_frame_like function was deprecated in Matplotlib 3.1 and will be removed in 3.3.

'https://plot.ly/~aishlia/131/'

In [16]:
import chart_studio.plotly as ply
# import cufflinks as cf
# Check the docs on setting up offline plotting

In [48]:
data.iplot(title="Nikkei Prices from 2008-2018", theme='pearl')

AttributeError: 'DataFrame' object has no attribute 'ply'

In [18]:
from pmdarima import auto_arima

In [19]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=6, max_q=6, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True) 
# exogenous=data_2
# Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1740.872, BIC=1757.597, Fit time=0.654 seconds
# Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=nan, BIC=nan, Fit time=nan seconds
# Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=1751.775, BIC=1765.713, Fit time=0.388 seconds
# Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1739.420, BIC=1753.358, Fit time=0.347 seconds
# Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=1741.380, BIC=1758.105, Fit time=0.718 seconds
# Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=1774.281, BIC=1785.431, Fit time=0.083 seconds
# Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1741.380, BIC=1758.105, Fit time=1.205 seconds
# Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1743.384, BIC=1762.897, Fit time=1.495 seconds
# Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=1738.746, BIC=1749.896, Fit time=0.378 seconds
# Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 1, 12); AIC=1740.738, BIC=1754.676, Fit time=0.612 seconds
# Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 2, 12); AIC=1740.739, BIC=1754.676, Fit time=1.015 seconds
# Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1741.582, BIC=1758.307, Fit time=1.400 seconds
# Fit ARIMA: order=(1, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=1739.540, BIC=1753.477, Fit time=0.551 seconds
# Total fit time: 8.849 seconds

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=2231.634, BIC=2248.995, Fit time=1.363 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=2340.033, BIC=2346.978, Fit time=0.023 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=2285.760, BIC=2299.649, Fit time=0.260 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=2229.672, BIC=2243.561, Fit time=0.564 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=2230.604, BIC=2247.965, Fit time=0.565 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=2340.214, BIC=2350.630, Fit time=0.142 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=2230.641, BIC=2248.002, Fit time=1.104 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=2233.670, BIC=2254.504, Fit time=1.128 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=2227.978, BIC=2238.394, Fit time=0.355 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 1, 12); AIC=2229.025, BIC=2242.914, Fit time=0.303 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 2, 12); AIC=2229.044, BIC=2242.933, Fit time=1.677 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=2231.939, BIC=2249.300, Fit time=1.550 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=2229.663, BIC=2243.552, Fit time=0.319 seconds
Total fit time: 9.361 seconds

In [20]:
stepwise_model.aic()

2227.9775226043466

## Train Test Split

In [21]:
data.head()

                  Price
Date
2019-10-25  3027.389893
2019-10-24  3016.070068
2019-10-23  3004.780029
2019-10-22  3014.570068
2019-10-21  3007.330078

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 251 entries, 2019-10-25 to 2018-10-26
Data columns (total 1 columns):
Price    251 non-null float64
dtypes: float64(1)
memory usage: 13.9 KB

In [41]:
train = data.loc['2018-10-26':'2019-07-18']

In [43]:
train
# train.tail()

Empty DataFrame
Columns: [Price]
Index: []

In [25]:
test = data.loc['2017-01-01':]

In [40]:
test.head()

            Price_Nikkei
Date
2017-01-01      19041.34
2017-02-01      19118.99
2017-03-01      18909.26
2017-04-01      19196.74
2017-05-01      19650.57

In [41]:
test.tail()

            Price_Nikkei
Date
2018-01-01      23098.29
2018-02-01      22068.24
2018-03-01      21454.30
2018-04-01      22467.87
2018-05-01      22547.50

In [42]:
test_length = len(test)
test_length

17

In [43]:
stepwise_model.fit(train)

ARIMA(callback=None, disp=0, maxiter=50, method=None, order=(0, 1, 0),
   out_of_sample_size=0, scoring='mse', scoring_args={},
   seasonal_order=(0, 1, 1, 12), solver='lbfgs', start_params=None,
   suppress_warnings=True, transparams=True, trend='c')

In [44]:
future_forecast = stepwise_model.predict(n_periods=test_length)

In [45]:
future_forecast

array([ 18352.14964555,  18005.98681813,  18562.35596096,  18649.93825091,
        19212.44891797,  18466.56676863,  19120.90441924,  18825.99238681,
        18439.47081874,  19388.02919191,  20252.68425224,  20584.68882111,
        19840.43917175,  19512.24704942,  20086.58689734,  20192.13989238,
        20772.62126453])

In [46]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [47]:
future_forecast.head()

              Prediction
Date
2017-01-01  18352.149646
2017-02-01  18005.986818
2017-03-01  18562.355961
2017-04-01  18649.938251
2017-05-01  19212.448918

In [48]:
test.head()

            Price_Nikkei
Date
2017-01-01      19041.34
2017-02-01      19118.99
2017-03-01      18909.26
2017-04-01      19196.74
2017-05-01      19650.57

In [49]:
pd.concat([test,future_forecast],axis=1).iplot()

In [51]:
future_forecast2 = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])#future_forcast

In [52]:
pd.concat([data,future_forecast2],axis=1).iplot()